.shop-now-btn {
     display: inline-flex;
     align-items: center;
     gap: 8px;
     background: #ff0000;
     color: #fff;
     padding: 12px 22px;
     border-radius: 8px;
     text-decoration: none;
     font-weight: bold;
     font-size: 18px;
     margin-top: 20px;
     transition: 0.3s;
}

.shop-now-btn:hover {
     background: #cc0000;
     transform: scale(1.05);
}